%h1#title
  = @word.word
  
#main-carpet
  = render(:partial => 'table', :locals => {:word => @word})
  %canvas{:id => 'carpet-canvas', :height => '442', :width => '470', :'data-src' => '/javascripts/processing/word.pjs'}

%h2#command
  Einfach was eingeben:
= form_for @word do |f|
  = f.text_field :word
  = f.hidden_field :next_word, :value => @word.id if 'show'.eql?action_name
  = f.submit "Flieg los!"
